@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}


nav {

  ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }

  li { display: inline-block; }
}

$content-width: 800px;
$font-style: 'Open Sans', sans-serif;
$heading-font: 'Muli', sans-serif;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }