/* Coolors Exported Palette - coolors.co/fb8a04-ce1b29-4e210d-c78637-fbb100 */

/* RGB */
$color1: rgba(251, 138, 4, 1);
$color2: rgba(206, 27, 41, 1);
$color3: rgba(78, 33, 13, 1);
$color4: rgba(199, 134, 55, 1);
$color5: rgba(251, 177, 0, 1);
$color6: rgba(255, 255, 255, 1);