/* Coolors Exported Palette - coolors.co/fb8a04-ce1b29-4e210d-c78637-fbb100 */

/* HSL */
$color1: hsla(33%, 97%, 50%, 1);
$color2: hsla(355%, 77%, 46%, 1);
$color3: hsla(18%, 71%, 18%, 1);
$color4: hsla(33%, 57%, 50%, 1);
$color5: hsla(42%, 100%, 49%, 1);

/* RGB */
$color1: rgba(251, 138, 4, 1);
$color2: rgba(206, 27, 41, 1);
$color3: rgba(78, 33, 13, 1);
$color4: rgba(199, 134, 55, 1);
$color5: rgba(251, 177, 0, 1);