body {
   margin: 0;
   color: $color3;
   font-family: $font-style;
   font-size: 1.1em;
   line-height: 1.6;
   background-color: $color4;
   -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
   font-weight: 600;
   color: $heading-font-color;
   font-family: $heading-font;
   line-height: 1.5;
}
h1 {
   color: $color2;
   font-size: 1.7em;
   a,
   a:visited {
      text-decoration: none;
      color: $main;
   }
}
h2 {
   font-size: 2em;
}
a,
a:visited {
   color: $color2; //$link-color;
   text-decoration: underline;
   font-weight: bold;
}
a:hover {
   color: $link-hover-color;
}
header {
   background: $color1;
   padding: 10px 15px;
   text-align: center;
   margin: 50px 0 0;
   height: 25vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
main {
   padding: 0 15px;
   max-width: $content-width;
   margin: 0 auto;
}
time {
   color: #898989;
}
.container {
   max-width: $content-width;
   margin: 0 auto;
}
.site-banner {
   border-bottom: 0.6rem solid $color2;
   width: 100%;
}

/* Aside */

aside {
   position: fixed;
   top: 0;
   left: 0;
   background: #fff;
   width: 100%;
   z-index: 2;
   border-bottom: 1px solid lighten($light, 30%);
   box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
   nav {
      float: left;
      max-width: 1000px;
      margin: 0 auto;
      ul {
         margin: 0;
         padding: 0;
         list-style: none;
         li {
            float: left;
            position: relative;
            a {
               text-decoration: none;
               display: block;
               padding: 15px;
               font-family: 'Muli', sans-serif;
               line-height: 15px;
               margin-bottom: 1px;
               box-shadow: 0;
               &:hover,
               &:focus,
               &:active {
                  background: $header;
               outline: none;
                  text-decoration: none;
                  color: $main;
               }
            }
         }
      }
      &:after {
         content: '';
         display: table;
         clear: both;
      }
   }
}

.cover-banner2 {
   width: 90%;
   height: 200vh;
   max-height: 2000px;
   margin: 25px auto;
   padding: 12px;
}

.cover-banner {
   width: 100%;
   height: 120vh;
   max-height: 1067px;
   margin: 25px auto;
   padding: 12px;

   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
   background-size: cover;

   position: relative;
   display: flex;
   flex-direction: column;

   h1, h2 {
      background: rgba(22,22,22, 0.5);
      color: $color6;
      vertical-align: middle;
      width: 100%;
   }

   h1 {
      font-size: 3vw;
   }
   h2 {
      font-size: 2vw;
   }
}

footer {
   text-align: center;
   color: $color2;
   padding: 40px;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    font-size: 2vh;
    background-color: $color2;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    border-radius: 2px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
